.fontFamily {
    font-family: "Caesar Dressing", system-ui;
}

.input {
    border-radius: 50px;
    border: 1px solid #a0a0a0;
    background: transparent;
    color: #000;
    height: 33px;
    padding: 0 30px;
    padding-top:10px ;
    padding-bottom: 5px;
    font-size: 18px;
}

.input:focus {
    outline: 2px solid #1976d2;
    border: none;
}

.input::-webkit-scrollbar {
    display: none;
}

.conversation {
    position: relative;
    padding: 0 20px;
}

.conversation::-webkit-scrollbar {
    position: absolute;
    right:0;
    width: 7px;
}

.conversation::-webkit-scrollbar-thumb {
    background-color: #606060;
    border-radius: 6px;
}

.conversation::-webkit-scrollbar-track {
    background-color: transparent;
}